<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
</head>
<body>
     <form th:action="@{/user/addUser}" method="post">
       <label>User Name</label>
         <input class="form-control" type ="text" name="userName" placeholder="User Name" required> <br/>
         <label>password</label>
         <input class="form-control" type ="text" name="password" placeholder="password" required> <br/>
         <label>First Name</label>
         <input class ="form-control" pattern="[a-zA-Z]+" type = "text" name="firstName" placeholder="First Name" required> <br/>
         <label>Last Name</label>
         <input class ="form-control" pattern="[a-zA-Z]+" type = "text" name="lastName" placeholder="Last Name" required> <br/>
         <label>email</label>
         <input class="form-control" type="email" name="email" placeholder="E-mail" required/><br/>
         <label>contact number</label>
         <input class="form-control" type="text" pattern="^(?:0|\+?44)(?:\d\s?){9,10}$" name="contactNumber" placeholder="Contact Number" required/><br/>
         <input type="submit" value="Add User" class="btn btn-custom"/>
     </form>
</body>
</html>